table {
 background-color:black;
  color:#0072ca;
    border: 2px solid #0072ca;

  
}

input {
  
  background-color:black;
  color:#0072ca;
  border: 2px solid #0072ca;
}

body{background-color:black;}


