



a, a:visited  {text-decoration:none;	color:black;}

a:hover{text-decoration:none;  font-weight: bold;}






.nuovo-container{
	top:125px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:800px;
	height:50px;

	border-bottom: 2px solid black;


}




.nuovo-testo{
	color:black;
	width:750px;
	position:absolute;
	text-overflow:ellipsis;
	text-align: center;
	font-size: 40px;
	overflow:hidden;
}

#nuovo-image{
	width:40px;
	height:40px;
	position:absolute;
	left:650px;
	top:5px;
}




.zona-container{
	top:150px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	position:relative;
	width:600px;
	height:50px;


	border-bottom: 2px solid black;

}

.zona{
	width:550px;
	position:absolute;
	text-overflow:ellipsis;
	text-align: center;
	font-size: 40px;
	overflow:hidden;
}

#setup-zona{
	width:40px;
	height:40px;
	position:absolute;
	left:550px;
	top:5px;
}

#setup-zona:hover{left:555px;}

/*//////////////////////////////////fine zona/////////////////////////*/




