.flex {max-width: 100%}
	
.name_text{
	position:absolute;
	width:90%;
	height:30px;
	top:20px;
	left:5%;
	color:black;
}

.save_button{
	
	
	position:absolute;
	padding-left:5px;
	padding-right:5px;
	height:30px;
	width:50%;
	left:25%;
	line-height:30px;
	text-align:center;
	font-size:15px;
	color:white;
	background-color:#1e9bae;
	border-top-left-radius:10px; 
	border-top-right-radius:10px; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px; 
	border: 1px solid white;
	
	
	
}


p { 
	left:5%;
	color:white;
	width:90%;
	height:30px;
	text-align:left;

}

.testo_big{
	
	
		top:0px;
		position:absolute;
		font-size:22px;
	
}

.testo_small{
	
	top:40px;
	position:absolute;
	font-size:12px;
	
}



#select_box{
	position:relative;
	width:90%;
	left:5%;
	height:200px;
	background-color:#1e9bae;
	overflow-y:scroll;
	margin-top:40px;
	-webkit-transition: height 0.5s; /* Safari */
	transition: height 0.5s;
	border-top-left-radius:10px; 
	border-top-right-radius:10px; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px; 
}

.riga_box{
	
	position:relative;
	height:30px;
	width:100%;
	margin-top:5px;
}


input[type="checkbox"]{
	
	position:fixed;
	left:-99999px;
	top:0px;
	
}


.check{
	position:absolute;
	height:30px;
	line-height:30px;
	text-align:center;
	width:10%;
	top:0px;
	left:0px;
	font-size:15px;
	color:white;
	
	-webkit-transition: color 0.5s; /* Safari */
	transition: color 0.5s;
}

input:checked + .check {
  color: #40ff00;
  -webkit-animation: spin 0.2s linear;
  
}


@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	25%  {-webkit-transform: rotate(-30deg);}
	50%  {-webkit-transform: rotate(0deg);}
	75%  {-webkit-transform: rotate(30deg);}
	100% {-webkit-transform: rotate(0deg);}	
}
.ogg_selection{
	
	position:absolute;
	height:30px;
	line-height:30px;
	width:90%;
	top:0px;
	left:8%;
	text-align:left;
	padding-left:10px;
	font-size:15px;
	color:white;
	
}



@media screen and (min-width: 600px) /*laptops-desktop*/{

.testo_big{font-size:25px;}

.testo_small{font-size:15px;}

.check {font-size:20px;}

.ogg_selection{font-size:20px;}


