
body {    background-color: black;
}

#header{
    margin-bottom: 2%;
    width: 100%;
    height: 30px;
    text-align:center;
    border: 1px solid grey;
    background-color: #0072ca;
    color:black;
    font-size: 200%;
    line-height: 100%;   
    overflow: hidden;
  
}
/*////////////float bar////////*/
#buttons
{
  border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
  position: fixed;
  bottom: 0px;
  left:0px;
  margin: 0%;
  width: 100%;
  background-color: black;
  
}



#home{
  border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
  overflow: hidden;
  width: 50%;
  margin: 0%;
  float:left;
  text-align: center;
  background-color: #0072ca;
  border: 2px solid black;
  color:black;
  font-size: 200%;
  line-height: 100%;   
}

#home:hover{
  background-color: black;
  border: 2px solid #0072ca;
  color:#0072ca;
}


#back{
  border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
  overflow: hidden;
  margin: 0%;
  text-align: center;
  background-color: #0072ca;
  border: 2px solid black;
  color:black;
  font-size: 200%;
  line-height: 100%;   
}

#back:hover{
  background-color: black;
  border: 2px solid #0072ca;
  color:#0072ca;
}
/*/////////fine float bar//////*/





/*///////////riga stanza////////*/

#riga
{
  
  margin-bottom: 1.5%;
  width: 100%;
  
}

#zone{
    overflow: hidden;
    float: left;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    margin: 0%;
    width: 75%;
    height:50px;
    text-align:center;
    border: 2px solid #0072ca;
    background-color: black;
    color:#0072ca;
    font-size:150%;
    line-height: 200%;   
    }

#zone:hover{
  background-color: #0072ca;
  color:black;
}

#setup{
    height:50px;
    overflow: hidden;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    margin-bottom: 0%;
    text-align:center;
    border: 2px solid #0072ca;
    background-color: black;
    color:#0072ca;
    font-size:130%;
    line-height: 235%;   
  }
#setup:hover{
  background-color: #0072ca;
  color:black;
}

/*//////fine riga stanza///////*/
a {text-decoration:none;color:#0072ca;}
a:visited {text-decoration:none; color:#0072ca}
