@media screen and (min-width: 300px) /*iphone 6s, 6 plus portrait*/{


.riga{
position:relative;
width:100%;
height:70px;
margin-top:65px;
}




.col1{left:calc(16.66% - 35px);}

.col2{left:calc(49.99% - 35px);}

.col3{left:calc(83.32% - 35px);}


.bottoneoggetto{
	
	position:absolute;
	top:0px;
	height:70px;
	width:70px;
	border: 2px solid white;
	border-radius: 5px;
	line-height:70px;
	text-align:center;
	background-color:#00ddff;



}



.img-button{

	position:absolute;
	top:5px;
	width:70px;
	height:50px;
	line-height:30px;
	text-align:center;
	font-size:40px;
	color:green;

}

.testo-button{


	position:absolute;
	top:50px;
	width:70px;
	height:20px;
	line-height:20px;
	text-align:center;
	overflow:hidden;
	color:white;


}








}
