@font-face {
   font-family: 'rapier';
   src: url('../fonts/rapier-zero.ttf') format('truetype');
}

@font-face {
   font-family: 'adventure';
   src: url('../fonts/adventure-subtitles.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}



a, a:visited  {text-decoration:none; color:inherit;}






body{
	
	background-color:#4acce0;
	margin: 0px;
	padding-top:0px;

}

#invisible_top_banner{


	position:relative;
	width:100%;
	height:50px;
	margin-bottom:50px;


}
#top_banner{

	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	padding:0px;
	margin:0px;
	height:50px;
	color:white;
	border-bottom: 1px solid white;
	background-color:#4acce0;
	overflow:hidden;
}

#top_banner::after {
    content: "";
    clear: both;
    display: table;
}

#menu{

	cursor:pointer;
	width:12%;
	height:50px;
	text-align:center;
	line-height:50px;
	float: left;

}



#time{


	width:20%;
	height:50px;
	text-align:center;
	line-height:50px;
	float: left;


}



#date{
	

	width:68%;
	height:50px;
	text-align:center;
	line-height:50px;
	float: left;

}


#side{

    z-index:1;
	position:fixed;
	top:0px;
	left:0%;
	height:100%;
	width:50%;
	padding-top:70px;
	padding-left:8px;
	padding-right:8px;
	margin-left:-100%;/*transizione modifica javascript */
	background-color: #0072ca;


	-webkit-transition: margin-left 0.5s; /* Safari */
	transition: margin-left 0.5s;


}

#closebutton{

	cursor:pointer;
	position:relative;
	margin-top:70px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:black;
}

.vocemenu {
	
	position:relative;
	color:white;
	cursor:pointer;
	margin:0px;
	margin-top:20px;
	padding:0px;
	font-size:20px;

}

.vocemenu:hover{

	color:black;
	-webkit-transition: color 0.3s; /* Safari */
	transition: color 0.3s;



}

.vocemenu i{

margin-right:10px;

}



@media screen and (min-width: 600px) /*laptops-desktop*/{


body{
	
	position:relative;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	
	
	
}

#side{

	width:20%;
	
}


}

