@font-face {
   font-family: 'rapier';
   src: url('../fonts/rapier-zero.ttf') format('truetype');
}

@font-face {
   font-family: 'adventure';
   src: url('../fonts/adventure-subtitles.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}


.flex {max-width: 100%}

a, a:visited  {text-decoration:none; 	color:white;}





@media screen and (min-width: 300px) /*iphone 6s, 6 plus portrait*/{

body{
	
	background-color:#0072ca;
	margin: 0px;
	padding-top:0px;

}


#top_banner{

	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	padding:0px;
	margin:0px;
	height:35px;
	background-color:#043a91;opacity:0.9;
	border-bottom:1px solid black;
	overflow:hidden;
}

#top_banner::after {
    content: "";
    clear: both;
    display: table;
}

#menu{

	cursor:pointer;
	width:12%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;

}



#time{


	width:20%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;


}



#date{
	

	width:68%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;

}


.sideclass{


	position:fixed;
	top:20%;
	left:0%;
	width:40%;
	height: 30%;
	margin-left:-30%;
	background: red;
	-webkit-transition: margin-left 0.5s; /* Safari */
	transition: margin-left 0.5s;


}


.sideclass.open {
	margin-left:40%;
}




}/*fine media mobile*/



@media screen and (min-width: 960px) /*laptop-desktop*/{
body {

	width:700px;
	background-color:#0072ca;
	margin-left:auto;
	margin-right:auto;
	padding-top:0px;

 }

.top_banner{

	position:relative;
	top:0px;
	left:0px;
	width:100%;
	padding:0px;
	margin:0px;
	height:35px;
	background-color:#043a91;opacity:0.9;
	border-bottom:1px solid black;
}

.top_banner::after {
    content: "";
    clear: both;
    display: table;
}

.menu{

	cursor:pointer;
	width:12%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;

}



.time{


	width:20%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;


}



.date{
	

	width:68%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;

}




}/*fine media laptop/tv*/

