@font-face {
   font-family: 'rapier';
   src: url('../fonts/rapier-zero.ttf') format('truetype');
}

@font-face {
   font-family: 'adventure';
   src: url('../fonts/adventure-subtitles.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}



a, a:visited  {text-decoration:none; color:black;}





@media screen and (min-width: 300px) /*iphone 6s, 6 plus portrait*/{

body{
	
	background-color:#4acce0;
	margin: 0px;
	padding-top:0px;

}

#invisible_top_banner{


	position:relative;
	width:100%;
	height:35px;


}
#top_banner{

	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	padding:0px;
	margin:0px;
	height:50px;
	color:white;
	border-bottom: 1px solid white;
	background-color:#4acce0;
	overflow:hidden;
}

#top_banner::after {
    content: "";
    clear: both;
    display: table;
}

#menu{

	cursor:pointer;
	width:12%;
	height:50px;
	text-align:center;
	line-height:50px;
	float: left;

}



#time{


	width:20%;
	height:50px;
	text-align:center;
	line-height:50px;
	float: left;


}



#date{
	

	width:68%;
	height:50px;
	text-align:center;
	line-height:50px;
	float: left;

}


#side{

    	z-index:1;
	position:fixed;
	top:35px;
	left:0%;
	height:100%;
	padding-top:70px;
	padding-left:8px;
	padding-right:8px;
	margin-left:-100%;/*transizione modifica javascript */
	background-color: #e8fbff;


	-webkit-transition: margin-left 0.5s; /* Safari */
	transition: margin-left 0.5s;


}

#closebutton{

	cursor:pointer;
	position:relative;
	margin-top:70px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:#12494f;
}

.vocemenu {


	cursor:pointer;
	margin:0px;
	padding:0px;

}

.vocemenu:hover{

color:#0072ca;
-webkit-transition: color 0.3s; /* Safari */
	transition: color 0.3s;



}

.vocemenu i{

margin-right:10px;

}


}/*fine media mobile*/



@media screen and (min-width: 960px) /*laptop-desktop*/{
body {

	width:700px;
	background-color:#0072ca;
	margin-left:auto;
	margin-right:auto;
	padding-top:0px;

 }

.top_banner{

	position:relative;
	top:0px;
	left:0px;
	width:100%;
	padding:0px;
	margin:0px;
	height:35px;
	background-color:#043a91;opacity:0.9;
	border-bottom:1px solid black;
}

.top_banner::after {
    content: "";
    clear: both;
    display: table;
}

.menu{

	cursor:pointer;
	width:12%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;

}



.time{


	width:20%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;


}



.date{
	

	width:68%;
	height:35px;
	text-align:center;
	line-height:35px;
	color:white;
	float: left;

}




}/*fine media laptop/tv*/

