.flex {max-width: 100%}
	
.riga{
	position:relative;
	width:100%;
	height:60px;

}

.testo{
	
	
	position:absolute;
	width:100%;
	height:30px;
	line-height:60px;
	text-align:center;
	color:white;
	font-size:15px;
	font-weight:bold;
	
}



.name_text{
	position:absolute;
	width:90%;
	height:50%;
	top:30%;
	left:5%;
	color:black;
}


.inn_common{
		position:absolute;
		width:30%;
		height:60px;
		text-align:center;
		line-height:60px;
		font-size:30px;	
    	background-color:white;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-right: 1px solid black;
	
}

.inn_text{
	
		position:absolute;
		width:30%;
		text-align:center;
		font-size:12px;	
		color:black;
		font-weight:bold;
		font-style: oblique;
		background-color:white;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		border-right: 1px solid black;		
}


.innesco_oggetto{
	left:1.66%;
}

.innesco_sensore{
	left:34.99%;
}

.innesco_variabile{
	left:68.26%;
	
}



/*ghost part */

.attuatore_ghost{
	
	position:relative;
	width:100%;
	display:inherit;
	
}







.sensore_ghost{
	
	position:relative;
	width:100%;
	height:60px;
	display:inherit;
	
}



/*end ghost part*/












