.flex {max-width: 100%}
	
.riga{
	position:relative;
	width:100%;
	height:60px;

}

.testo{
	
	
	position:absolute;
	width:100%;
	height:30px;
	line-height:60px;
	text-align:center;
	color:white;
	font-size:15px;
	font-weight:bold;
	
}



.name_text{
	position:absolute;
	width:90%;
	height:50%;
	top:30%;
	left:5%;
	color:black;
}


.inn_common{
		position:absolute;
		width:33.3%;
		height:60px;
		text-align:center;
		line-height:60px;
		font-size:30px;	
   		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	background-color:white;
		
}

.inn_text{
	
		position:absolute;
		width:33.3%;
		text-align:center;
		font-size:15px;	
		color:black;
		font-weight:bold;
		font-style: oblique;
		
		
		
}


.innesco_oggetto{
	left:0%;
}

.innesco_sensore{
	left:33.3%;
}

.innesco_variabile{
	left:66.6%;
	
}














