.flex {max-width: 100%}
	
.riga{
	position:relative;
	width:100%;
	height:50px;

}



.name_text{
	position:absolute;
	width:90%;
	height:30px;
	top:0px;
	left:5%;
	color:black;
}

.dropdown_oggetti{
	
	
	position:absolute;
	padding-left:5px;
	padding-right:5px;
	height:30px;
	width:50%;
	left:25%;
	line-height:30px;
	text-align:center;
	font-size:15px;
	color:white;
	background-color:#1e9bae;
	border-top-left-radius:10px; 
	border-top-right-radius:10px; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px; 
	border: 1px solid white;
	
	
	
}















